{% extends 'mealplanshop/navigation.html' %}
{% block content %}


<h2>Calendar - Month View</h2>
{{ month | safe }}

<br/>
<h2>Calendar - Day View</h2>

<div class="container calendar-container">
    <div class="row calendar-row">
        <div class="col-2 calendar-cell"></div>
        <div class="col-10 calendar-cell">Sunday</div>
    </div>
    <div class="row calendar-row">
        <div class="col-2 calendar-cell">Breakfast</div>
        <div class="col-10 calendar-cell dropdown-container-cell" style="overflow: visible;">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row calendar-row">
        <div class="col-2 calendar-cell">Lunch</div>
        <div class="col-10 calendar-cell dropdown-container-cell" style="overflow: visible;">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row calendar-row">
        <div class="col-2 calendar-cell">Dinner</div>
        <div class="col-10 calendar-cell dropdown-container-cell" style="overflow: visible;">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row calendar-row">
        <div class="col-2 calendar-cell">Snack(s)</div>
        <div class="col-10 calendar-cell dropdown-container-cell" style="overflow: visible;">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="margin-bottom"> 
</div>




{% endblock %}


