{% extends 'mealplanshop/navigation.html' %}
{% block content %}
<h2>Shopping Lists</h2>


<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
<h2>Shopping Lists Data</h2>
<div class="container shoplist-container">
    <div class="row shoplist-row">
        <div class="col shoplist-cell"><b>Shopping List ID</b></div>
        <div class="col shoplist-cell"><b>Date Created</b></div>
        <div class="col shoplist-cell"><b>Store Name</b></div>
        <div class="col shoplist-cell"><b>Item(s)</b></div>
        
    </div>
    <div class="row shoplist-row">
        <div class="col shoplist-cell">o</div>
        <div class="col shoplist-cell">p</div>
        <div class="col shoplist-cell">k</div>
        <div class="col shoplist-cell">k</div>
       
    </div>
    <div class="row shoplist-row">
        <div class="col shoplist-cell">o</div>
        <div class="col shoplist-cell">p</div>
        <div class="col shoplist-cell">k</div>
        <div class="col shoplist-cell">k</div>
       
    </div>
    <div class="row shoplist-row">
        <div class="col shoplist-cell">o</div>
        <div class="col shoplist-cell">p</div>
        <div class="col shoplist-cell">k</div>
        <div class="col shoplist-cell">k</div>
       
    </div>
    <div class="row shoplist-row">
        <div class="col shoplist-cell">o</div>
        <div class="col shoplist-cell">p</div>
        <div class="col shoplist-cell">k</div>
        <div class="col shoplist-cell">k</div>
       
    </div>
</div> 
    <br/>
    <h2>Current Shopping List</h2>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-primary">Add to Google Calendar</button>
      </div>
      <br/>
    <ul>
        <li><input type=text placeholder=item></li>
        <li><input type=text placeholder=item></li>
        <li><input type=text placeholder=item></li>
        <li><input type=text placeholder=item></li>
    </ul>
    <p><b>Store Location(can sync w/Google Maps via Google Cal?)</b></p>
    <input type=text placeholder=Store Name>
    <input type=text placeholder=Address>
    <input type=text placeholder=City>
    <input type=text placeholder=Zipcode>
    <input type=text placeholder=Country>

    {% endblock %}