{% extends 'mealplanshop/navigation.html' %}
{% block content %} 
{% load static %}

<h1>Shopping Ingredients</h1>

<form method="POST" class="post-form" action="/shopping_ingredients/">  
  {% csrf_token %}  
  
  {{ formset.management_form }}

  <table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Name</th>  
        <th>Store</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>
      {% for form in formset.forms %}
        <tr>
          <td>{{ form.id }}</td>
          <td class="ingredient-cell">{{ form.name }}</td>
          <td class="ingredient-cell">{{ form.store }}</td>
          {% if form.instance.id != None %}
            <td><a href="{% url 'shopping_ingredient_delete' form.instance.id %}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">  
    <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
          <button type="submit" class="btn btn-primary">Submit</button>  
      </div>  
    </div>  
  </container>

</form>

{% endblock %}
