{% extends 'mealplanshop/navigation.html' %}
{% block content %} 

<h1>Shopping Ingredients</h1>

<form method="POST" class="post-form" action="/shopping_ingredient">  
  {% csrf_token %}  

  <table class="table table-striped table-bordered table-sm">  
      <thead class="thead-dark">  
      <tr>  
          <th>ID</th>  
          <th>Name</th>  
          <th>Store</th>
          <th>Actions</th>  
      </tr>  
      </thead>  
      <tbody>  
        {% for shopping_ingredient in shopping_ingredients %}  
        <tr>  
          <td>{{ shopping_ingredient.id }}</td>  
          <td>{{ shopping_ingredient.name }}</td>  
          <td>{{ shopping_ingredient.store }}</td>  
          <td></td>  
        </tr>  
        {% endfor %}  
      </tbody>  
  </table>  

  <div class="container">  
    <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
          <button type="submit" class="btn btn-primary">Submit</button>  
      </div>  
    </div>  
  </container>

</form>

{% endblock %}
