{% extends 'mealplanshop/navigation.html' %}
{% block content %} 
{% load static %}

<h1>Shopping Ingredients</h1>

<form method="POST" class="post-form" action="/shopping_ingredients/">  
  {% csrf_token %}  
  
  {{ formset.management_form }}

  <table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Name</th>  
        <th>Store</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>
      {% for form in formset.forms %}
        <tr>
          <td>{{ form.id }}</td>
          <td class="ingredient-cell">{{ form.name }}</td>
          <td class="ingredient-cell">{{ form.store }}</td>
          {% if form.instance.id != None %}
            <td><a href="{% url 'shopping_ingredient_delete' form.instance.id %}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">  
    <div class="form-group row">  
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
          <button type="submit" class="btn btn-primary">Submit</button>  
      </div>  
    </div>  
  </container>

</form>

<p>Google Calendar API Quickstart</p>

<!--Add buttons to initiate auth sequence and sign out-->
<button id="authorize_button" style="display: none;">Authorize</button>
<button id="signout_button" style="display: none;">Sign Out</button>
<button type="button" id="create_event_button" style="display: none;">Create Event on Google Calendar</button>

<pre id="content" style="white-space: pre-wrap;"></pre>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
// Client ID and API key from the Developer Console
var CLIENT_ID = '228062919693-bv1l4sc7e8e1ojbk7lgkt56oipt8cuu6.apps.googleusercontent.com';
var API_KEY = 'AIzaSyC1Sqg8goKDPqilKG2ugIDTOH1DxmoR8iA';

// Array of API discovery doc URLs for APIs used by the quickstart
var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

// Authorization scopes required by the API; multiple scopes can be
// included, separated by spaces.
var SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

var authorizeButton = document.getElementById('authorize_button');
var signoutButton = document.getElementById('signout_button');
var createEventButton = document.getElementById('create_event_button');

/**
 *  On load, called to load the auth2 library and API client library.
 */
function handleClientLoad() {
  gapi.load('client:auth2', initClient);
}

/**
 *  Initializes the API client library and sets up sign-in state
 *  listeners.
 */
function initClient() {
  gapi.client.init({
    apiKey: API_KEY,
    clientId: CLIENT_ID,
    discoveryDocs: DISCOVERY_DOCS,
    scope: SCOPES
  }).then(function () {
    // Listen for sign-in state changes.
    gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

    // Handle the initial sign-in state.
    updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
    authorizeButton.onclick = handleAuthClick;
    signoutButton.onclick = handleSignoutClick;
    $(createEventButton).click(handleCreateEventClick);
    console.log("assign handleCreateEventClick handler");

  }, function(error) {
    appendPre(JSON.stringify(error, null, 2));
  });
}

/**
 *  Called when the signed in status changes, to update the UI
 *  appropriately. After a sign-in, the API is called.
 */
function updateSigninStatus(isSignedIn) {
  if (isSignedIn) {
    authorizeButton.style.display = 'none';
    signoutButton.style.display = 'block';
    createEventButton.style.display = 'block';
    listUpcomingEvents();
  } else {
    authorizeButton.style.display = 'block';
    signoutButton.style.display = 'none';
    createEventButton.style.display = 'none';
  }
}

/**
 *  Sign in the user upon button click.
 */
function handleAuthClick(event) {
  gapi.auth2.getAuthInstance().signIn();
}

/**
 *  Sign out the user upon button click.
 */
function handleSignoutClick(event) {
  gapi.auth2.getAuthInstance().signOut();
}

function handleCreateEventClick(event) {
  console.log("running handleCreateEventClick");
  // "summary": "Shopping List - Spaghetti Noodles, Canned Tomatoes, Parmesean Cheese, Basil",
  // "description": "<h1>Shopping List</h1><ul><li>Spaghetti Noodles</li><li>Canned Tomatoes</li><li>Parmesean Cheese</li><li>Basil</li>",
  // var resource = {
  //   "summary": "Shopping List",
  //   "location": "Safeway",
  //   "start": {
  //     "date": "2021-07-23",
  //     "dateTime": "2021-23-16T10:00:00.000-07:00",
  //     "timeZone": "America/Los_Angeles"
  //   },
  //   "end": {
  //     "date": "2021-07-23",
  //     "dateTime": "2021-23-16T10:25:00.000-07:00",
  //     "timeZone": "America/Los_Angeles"
  //   }
  // };

  var resource = {
    "summary": "New Appointment",
    "location": "Google HQ",
    "start": {
      "dateTime": "2021-07-23T05:24:23.638-07:00"
    },
    "end": {
      "dateTime": "2021-07-23T06:24:23.638Z-07:00"
    }
  };

  // gapi do something
  gapi.client.calendar.events.insert({
    'calendarId': 'primary',
    'resource': resource
  }).execute();

  // alert("button clicked");
}

/**
 * Append a pre element to the body containing the given message
 * as its text node. Used to display the results of the API call.
 *
 * @param {string} message Text to be placed in pre element.
 */
function appendPre(message) {
  var pre = document.getElementById('content');
  var textContent = document.createTextNode(message + '\n');
  pre.appendChild(textContent);
}

/**
 * Print the summary and start datetime/date of the next ten events in
 * the authorized user's calendar. If no events are found an
 * appropriate message is printed.
 */
function listUpcomingEvents() {
  gapi.client.calendar.events.list({
    'calendarId': 'primary',
    'timeMin': (new Date()).toISOString(),
    'showDeleted': false,
    'singleEvents': true,
    'maxResults': 10,
    'orderBy': 'startTime'
  }).then(function(response) {
    var events = response.result.items;
    appendPre('Upcoming events:');

    if (events.length > 0) {
      for (i = 0; i < events.length; i++) {
        var event = events[i];
        var when = event.start.dateTime;
        if (!when) {
          when = event.start.date;
        }
        appendPre(event.summary + ' (' + when + ')')
      }
    } else {
      appendPre('No upcoming events found.');
    }
  });
}
</script>

<script async defer src="https://apis.google.com/js/api.js"
onload="this.onload=function(){};handleClientLoad()"
onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
{% endblock %}