{% extends 'mealplanshop/navigation.html' %}
{% block content %}

<form method="POST" class="post-form" action="/recipes/update/{{recipe.id}}">  
    {% csrf_token %}  
    <div class="container">  
        <br>  
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h3>Update Agenda</h3>  
            </div>  
        </div>  
   
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Breakfast Recipe:</label>  
            <div class="col-sm-4">  
                <input type="text" name="name" id="id_name" required maxlength="100" value="{{ agenda.breakfast_recipe }}" />  
            </div>  
        </div>  
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Lunch Recipe:</label>  
            <div class="col-sm-4">  
                <textarea name="ingredients" rows="10" cols="30" maxlength="2000">{{ agenda.lunch_recipe }}</textarea>
            </div>  
        </div>  
        <br/>
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Dinner Recipe:</label>  
            <div class="col-sm-4">  
                <textarea name="instructions" rows="10" cols="30" maxlength="2000">{{ agenda.dinner_recipe }}</textarea>
            </div>  
        </div>  
        <br/>
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <button type="submit" class="btn btn-primary">Update</button>  
            </div>  
        </div>  
    </div>  
</form>  

{% endblock %}