{% extends 'mealplanshop/navigation.html' %}
{% block content %}
{% load static %}

<form method="POST" class="post-form" action="/recipes/create">  
    {% csrf_token %}  
    <div class="container">  
        <br>  
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h3>Enter Details</h3>  
            </div>  
        </div>  
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Recipe Name:</label>  
            <div class="col-sm-4">  
                {{ form.name }}  
            </div>  
        </div>
    </div>  
    </br>


Ingredients:
<div class="js-ingredient-list">
    
    
</div>

</br>
<div class="input-group">
<input type="text" class="form-control js-new-ingredient" placeholder="New Ingredient">
</div>
</br>
        <div>
          <label class="col-sm-2 col-form-label">Instructions:</label>  
          <div class="col-sm-4">  
              {{ form.instructions }}  
          </div>  
        </div>  
        <br/>
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <button type="submit" class="btn btn-primary">Submit</button>  
            </div>  
        </div>  
    </div>  
</form>  

{% endblock %}
{% block javascript %}
<script>
    
    $(function() {

        $(".js-new-ingredient").on('keydown', function (e) {
           
            
            if (e.key == 'Enter' || e.keyCode == 13) {
                // Do something
                e.preventDefault();
                e.stopImmediatePropagation();
                e.stopPropagation();
                myCopy = $(".js-new-ingredient").val();
                $(".js-new-ingredient").val("");
                searchTerm = myCopy;
                addHTML = "<div class='input-group js-ingredient-row'><input type='text' id='id_ingredients' name='ingredients' class='form-control js-ingredient-input' value='"+ myCopy +"'></input><button class='btn btn-outline-danger js-delete-ingredient' type='button'><i class='bi bi-trash'></i></button><button class='btn btn-outline-secondary js-add-shoppinglist' type='button'>+ to Shopping List</button><a href='https://www.amazon.com/s?k=" + searchTerm + "' target='_blank' rel='noopener noreferrer' style='border:none;text-decoration:none'><img src='{% static '/mealplanshop/images/amazon-button3.png' %}'></a></div>"
                $(".js-ingredient-list").append(addHTML);
                return false;
            }
          
            
        });
        $( ".js-ingredient-list" ).on( "click", ".js-delete-ingredient", function(e) {
            deleteButton = $(e.currentTarget)
            deleteRow = $(deleteButton.parent(".js-ingredient-row"))
            deleteRow.remove()
            
        });
        $( ".js-ingredient-list" ).on( "click", ".js-add-shoppinglist", function(e) {
            button = $(e.currentTarget);
            row = $(button.parent(".js-ingredient-row"));
            input = $(row.find(".js-ingredient-input"));

            $.ajax({
                url: "{% url 'api_shopping_ingredient' %}",
                type: 'post',
                data: {
                    name: input.val()
                },
                headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                dataType: 'json',
                success: function (data) {
                    alert( "Added Shopping Ingredient - " + input.val() );
                }
            });
        });
    });

</script>
{% endblock %}

